<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/action/register" method="POST"/>
        <!-- username -->
        <label for="username">Username:</label>
        <input type="username" id="username" name="username" placeholder="Username">
        <!-- password -->
        <label for="password">Username:</label>
        <input type="password" id="password" name="password" placeholder="Password">
        <!-- birthday -->
        <label for="birthday">Birthday:</label>
        <input type="birthday" id="birthday" name="birthday"
           max= {{date}} >

        <p> {{ errorMessage }} </p>
        <input type="submit" value="Register">
    </form>
</body>
</html>